@page "/employees"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SpaFinal213.Models
@using SpaFinal213.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SpaFinal213.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<div class="centered-panel">
    <div class="panel-inner">
        <div class="panel-card full">
            <h1>Index</h1>

            <p>
                <a href="employees/create">Create New</a>
            </p>

            <QuickGrid Class="table" Items="context.Employee">
                <PropertyColumn Property="employee => employee.ApplicationUserId" />
                <PropertyColumn Property="employee => employee.FName" />
                <PropertyColumn Property="employee => employee.LName" />
                <PropertyColumn Property="employee => employee.EmployeeType" />

                <TemplateColumn Context="employee">
                    <a href="@($"employees/edit?employeeid={employee.EmployeeId}")">Edit</a> |
                    <a href="@($"employees/details?employeeid={employee.EmployeeId}")">Details</a> |
                    <a href="@($"employees/delete?employeeid={employee.EmployeeId}")">Delete</a>
                </TemplateColumn>
            </QuickGrid>
        </div>
    </div>
</div>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
