<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    <!-- Preconnect and Google Fonts (add these) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet" />

    <link href="css/app.css" rel="stylesheet" />
    <title>My App</title>
</head>
<body>
    <app>
        <!-- Blazor host -->
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>